<footer class="ors-footer">

  <div class="container-fluid px-4">

    <div class="footer-content">

      <!-- Left -->
      <div class="footer-brand">
        <!-- <i class="bi bi-mortarboard-fill"></i> -->
        <!-- <span>ORS Project</span> -->
        <img src="/assets/img/Rays.jpg" width="150" height="40" alt="Rays EdTech Logo" class="footer-logo">
      </div>

      <!-- Center -->
      <div class="footer-copy">
        © 2026 Rays EdTech, SunilOS Infotech Pvt. Ltd.
      </div>

      <!-- Right -->
      <div class="footer-right">
        <span>Online Result System</span>
        <span class="footer-divider">|</span>
        <span>All Rights Reserved</span>
      </div>

    </div>

  </div>

</footer>